    .video-popup {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
        z-index: 99999;
        overflow: hidden;
        display: none;
        .close-btn {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 999;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .video {
            width: 95%;
            height: 95vh;
            border-radius: 19px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
            overflow: hidden;
            video {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }